@model IEnumerable<string>

<h2>Filter</h2>

<form asp-action="Filter" asp-controller="Product" method="post">
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
            All
        </label>
    </div>
    @foreach (string category in Model)
    {
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="categories" value="@category" id="@category">
            <label class="form-check-label" for="@category">
                @category
            </label>
        </div>
    }
    <button type="submit" class="btn btn-primary mt-2">Filter</button>
</form>

