@model SportsStore.Models.Auction
@{
    Layout = "_AdminLayout";
}
<div class="bg-light p-3">
    <form asp-action="Edit" method="post">
        <input type="hidden" asp-for="AuctionID" />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="ProductID">Product</label>
            <select asp-for="ProductID" class="form-control" asp-items="@(new SelectList(
                    @Model.ProductID == 0 ? Enumerable.Empty<SportsStore.Models.Product>() : Enumerable.Repeat(Model.Product, 1),
                    "ProductID", "Name"))">
            </select>
        </div>
        <div class="form-group">
            <label asp-for="StartDateTime">Start Date & Time</label>
            <input asp-for="StartDateTime" type="datetime-local" class="form-control" />
            <span asp-validation-for="StartDateTime" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="EndDateTime">End Date & Time</label>
            <input asp-for="EndDateTime" type="datetime-local" class="form-control" />
            <span asp-validation-for="EndDateTime" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="MinimumBid">Minimum Bid</label>
            <input asp-for="MinimumBid" class="form-control" />
            <span asp-validation-for="MinimumBid" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </form>
</div>
