@{
    ViewData["Title"] = "News Release";
}

<div class="container">
    <h1>@ViewData["Title"]</h1>

    <div class="card mb-4">
        <div class="card-body">
            <h2 class="card-title">Launch of the Auctioning System</h2>
            <p class="card-text">We are excited to announce the launch of our new auctioning system. This new feature allows our valued users to sell their own products on our website. We are confident that this addition will provide a new, dynamic shopping experience for all of our users. Interested in using this feature? Check out our <a href="@Url.Action("Index", "Auction")">Auction page</a>! Stay tuned for more exciting updates!</p>
            <p class="text-muted">Posted on April 30, 2023</p>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-body">
            <h2 class="card-title">Release of MRJ Commerce Website</h2>
            <p class="card-text">We are delighted to announce the release of our new website, MRJ Commerce. We are committed to providing a seamless and enjoyable shopping experience for our users. Our official launch date is May 1st, 2023. We can't wait for you to explore all that MRJ Commerce has to offer!</p>
            <p class="text-muted">Posted on April 30, 2023</p>
        </div>
    </div>
</div>
