@{
    ViewData["Title"] = "FAQ";
}

<!-- Page Heading is Here -->
<h1>@ViewData["Title"]</h1>

<!-- Add your 10 questions and answers here -->
<dl>
    <!-- Question 1 -->

    <dt>Question 1: What products do you sell on the this website? </dt>
    <dd>
        MRJ commerce sells all kinds of clothing products (shirts, shoes, shorts etc). Not only do we sell our own products
        we also allow customers to sell their own products as well.
    </dd>

    <dt>Question 2: Does MRJ commerce have a return policy?</dt>
    <dd>
        Our website does have a return policy. If you are dissatified with your purchase you can return your purchase within
        30 days..
    </dd>

</dl>
