@{
    ViewData["Title"] = "Background";
}

<!-- Page Heading is Here -->
<h1>@ViewData["Background"]</h1>
<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</head>

<body >
    <div class="container">
    <h3 style="color:#000000">About Us</h3>
    <p>
        MRJ Commerce operates entirely as an online clothing retailer, serving customers
        through e-commerce, under the domain mrjcommerce.com. Online clothing retail is a successful industry, finding significant ground in the market for clothing business compared to physical
        brick-and-mortar stores. MRJ Commerce will be important to our customer industry because with customers being able to sell their products online, it helps them out financially, it saves the customers the trouble of driving all the way to a store and walking around to find what they want when they can just do it in the comfort of their own home.
    </p>
    <h3 style="color:#000000">Products and Services </h3>
    <p>
        With MRJ commerce operating entirely as an online clothing retailer, we are dedicated to providing flexible shipping options to customers, which will happen in various ways.
        First, we will offer shipping with multiple carriers such as USPS, UPS, and FedEx. We will also allow customers to choose from multiple shipping tiers, including standard, expedited, and express shipping, to further accommodate their needs.
        Should the customer want to sell their own product, they will be eligible to sell a certain number of products per month, and once they’ve reached that amount, they’ll have to start paying a certain amount of fees over that limit, should it be in the same month.
        <li>Wide variety of clothing (Styles, sizes, colors, brands) </li>
        <li>Customization options (Colors, fabrics, graphics, size) </li>
        <li>Flexible shipping options (Multiple carriers, shipping tiers, same-day delivery) </li>
        <li>Loyalty program with perks (Free shipping, and other benefits) </li>
        <li>Return product process </li>
    </p>
    <h3 style="color:#000000">Value Proposition  </h3>
    <p>
        MRJ commerce will attend to customers' needs such as proposing a certain type of clothing for certain types of weather to the customers, at a great price as well.
        MRJ commerce will also give customers great suggestions on gifts for certain occasions such as Christmas, Birthdays, Mother’s and Father's Day, and Valentine's Day along with a great number of deals of course.
    </p>
    <li>Suits customer needs for all occasions </li>
    <li>Customized suggestions based on time of year and trends (Holiday-specific gifts, with corresponding deals) </li>
    <li>Fast shopping and check-out </li>
    <br />
    <br />
    <br />
    </div>
    @*<img src="~/images/MRJ Commerce.png" asp-append-version="true" alt="MRJ Commerce" height="100">*@


</body>
