@{
    ViewData["Title"] = "Policies";
}





<body >
    <div class="container">
        
        <h1>@ViewData["Title"]</h1>
<dl class="list-group">

    <dt class="list-group-item">Cost of Products</dt>
    <dd><br />
        The cost of products on MRJ Commerce is based on the various costs of clothing production, maintainance and upkeep, and tax rates based on country.
    </dd>
    <br />

    <dt class="list-group-item">Services Provided</dt>
    <dd><br />
        MRJ Commerce as a service provides users the ability to purchase clothing, shipped to their doorstep. Additionally, 
        the platform allows users to create and customize their own clothing, to be sold on the website to other users. This 
        can be done through an auction or fixed price transactions.
    </dd>
    <br />

    <dt class="list-group-item">Shipping Policy and Rates</dt>
    <dd><br />
        Shipping policies and rates vary by destination country.
    </dd>
    <br />

    <dt class="list-group-item">Tax Policy</dt>
    <dd><br />
        Products are tasked based on destination country laws on retail (clothing) products.
    </dd>
    <br />

    <dt class="list-group-item">Return of Merchandise Policy</dt>
    <dd> <br />
        Merchandise can be returned within 30 days of purchase without an appeal. After this period has passed, 
        an appeal must be filed with customer services.
    </dd>
    <br />

</dl>
</div>
</body>
